  <div class="jumbotron main-marketing">
    <h1>FeaturedUp</h1>
    <h3>
      Who owns whom?
    </h3><br/>
    <p><a class="btn btn-lg" ng-href="#/projects"><span>Check it out</span></a></p>
  </div>
<div class="row marketing">
  <h4>Request Features</h4>
  <p>
    Author feature requests to open source projects, and share with the world to make your voice heard.
  </p>

  <h4>Vote on Ideas</h4>
  <p>
    Together we collaborate to make our software work for us. Not the other way around.
  </p>

  <h4>Strength in Numbers</h4>
  <p>It takes traction to before ideas become reality, so we work together to promote powerful user experiences.</p>
</div>
